{% extends 'base.html.twig' %}

{% block title %}{% trans %}Invitation to the company{% endtrans %}{% endblock %}

{% block main_content %}
    <h3>{% trans %}Invite a user to the company.{% endtrans %}</h3>

    {{ include('invitation/_form.html.twig') }}
{% endblock %}
