<div class="modal fade" id="{{ 'right' ~ right.id|join }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content" method="post" action="{{ path('right_delete', right.id) }}">
            <div class="modal-body">
                {% trans %}Are you sure you want to exclude this user from company?{% endtrans %}
            </div>
            <div class="modal-footer">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ (right.id|join)) }}">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {% trans %}Cancel{% endtrans %}
                </button>
                <button type="submit" class="btn btn-danger">
                    {% trans %}Confirm{% endtrans %}
                </button>
            </div>
        </form>
    </div>
</div>
