<form method="post" action="{{ path('rights_delete', {'user': right.user.id, 'company': right.company.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ right.user.id ~ right.company.id) }}">
    <button class="btn">Delete</button>
</form>
