{% extends 'base.html.twig' %}

{% block title %}Edit Right{% endblock %}

{% block main %}
    <main class="container">
        <h1>Edit right of {{ right.user }}</h1>

        {{ include('right/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('rights_list', {'company': company.id}) }}">back to list</a>

        {{ include('right/_delete_form.html.twig') }}
    </main>
{% endblock %}
