{% extends 'base.html.twig' %}

{% block title %}{% trans %}Users{% endtrans %}{% endblock %}

{% block main_content %}
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a
              class="nav-link active"
              id="users-tab"
              data-toggle="tab"
              href="#users"
              role="tab"
              aria-controls="users"
              aria-selected="true"
      >{% trans %}Users{% endtrans %}</a>
    </li>
    <li class="nav-item" role="presentation">
      <a
              class="nav-link"
              id="invitations-tab"
              data-toggle="tab"
              href="#invitations"
              role="tab"
              aria-controls="invitations"
              aria-selected="false"
      >{% trans %}Invitations{% endtrans %}</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
      <div class="card">
        <div class="card-body">
          {% trans %}You can manage rights of other users to company.{% endtrans %}
        </div>
      </div>

      {% include 'users/_rights_list.html.twig' %}
    </div>
    <div class="tab-pane fade" id="invitations" role="tabpanel" aria-labelledby="invitations-tab">
      <div class="card">
        <div class="card-body">
          {% trans %}Also you can invite users by email.{% endtrans %}
        </div>
      </div>

      {% include 'users/_invitations_list.html.twig' %}
    </div>
  </div>
{% endblock %}
