<div
        class="modal fade"
        id="{{ startModalId }}"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
>
  <div class="modal-dialog">
    <form
            class="modal-content"
            method="post"
            action="{{ path('import_transactions_task_start', { id: import_transactions_task.id, company: import_transactions_task.company.id }) }}"
    >
      <div class="modal-body">
        {% trans %}Are you sure you want to start this task?{% endtrans %}
      </div>
      <div class="modal-footer">
        <input type="hidden" name="_method" value="PATCH">
        <input type="hidden" name="_token" value="{{ csrf_token('start' ~ import_transactions_task.id) }}">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {% trans %}No{% endtrans %}
        </button>
        <button type="submit" class="btn btn-danger">
          {% trans %}Confirm{% endtrans %}
        </button>
      </div>
    </form>
  </div>
</div>
